<?xml version="1.0" encoding="UTF-8"?>
<manifest identifier="{{ identifier }}" 
          xmlns="http://www.imsglobal.org/xsd/imscp_v1p1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.imsglobal.org/xsd/imscp_v1p1 imscp_v1p1.xsd">
    <metadata>
        <schema>QTI 2.1 Package</schema>
        <schemaversion>1.0.0</schemaversion>
    </metadata>
    <organizations/>
    <resources>
        {% for resource in resources %}
        <resource identifier="{{ resource.identifier }}" type="imsqti_item_xmlv2p1" href="{{ resource.href }}">
            <file href="{{ resource.href }}"/>
        </resource>
        {% endfor %}
    </resources>
</manifest>